frontend/node_modules
frontend/dist
frontend/build


backend/node_modules
backend/.env
backend/data/*.db
backend/data/*.db-*
!backend/data/.gitkeep
backend/uploads/teachers/*
!backend/uploads/teachers/.gitkeep
